@import '../assets/color/color.scss';

.layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  //padding-bottom: 50px;
  & > .gnb {
    width: 240px;
    max-height: 96vh;
    box-sizing: border-box;
    font-size: 1.3em;

    & > .gnbList {
      //width: 100%;
      height: 100%;
      box-sizing: border-box;
      border: 1px solid $black;
      padding-left: 10px;
      padding-top: 20px;
      margin: 20px;
    }

    .gnbA {
      color: $black;
      position: relative;

      &.active {
        &:after {
          position: absolute;
          top: 17px;
          display: block;
          content: "";
          width: 120%;
          height: 10px;
          background: $black;
          opacity: 0.4;
          animation-duration: 0.5s;
          animation-name: slideIn;
          z-index: 0;
        }

      }
    }
  }

  & > .contents {
    flex: 1;
    overflow-y: auto;
  }
}

@keyframes slideIn {
  from {
    width: 0;
  }

  to {
    width: 120%;
  }
}